.nav_container {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: rgba(147,173,24,255);    
     
}
h1{
    color: rgba(90,111,7,255);
   
}
span a{
    color: rgba(90,111,7,255);
    font-weight: bold;
   text-decoration: none;

}
.App-logo{
    width: 60px;
    margin-left: 4px;
   
}