.container a {
    margin: 12px 0;
}

.employee_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.employee_container h1 {
    color:  rgba(90,111,7,255);
    font-size: 20px;
    padding: 0 20px;
}

.rdt_TableCol{
    display: flex;
    justify-content: space-around;
    height: 50px;
    color: black;
    font-size: 14px;
    background-color: rgb(147,173,24);
}

.rdt_TableRow:nth-child(2n+1) {
    background-color: rgba(147,173,24,0.75);
}

.rdt_TableRow:nth-child(2n){
    background-color: rgba(147,173,24,0.45);
    
}

.table_container input {
    float: right;
    padding: 8px 18px;
}



@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 768px) {
.employee_container{
    background-color: #fff;
}
.table_container input{
   margin-right: 8%;
}
}