
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 10px 15px 20px rgb(147,173,24,0.75);
    margin-top: 40px;
}

.homepage_container h2 {
    align-items: center;
    color: rgb(90,111,7);
    font-size: 20px;
    padding:  20px;
}
.container .title{
    color: #000;
    font-weight: bold;
}
.container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 620px;
    padding: 20px;
    box-sizing: border-box;
}

.container .input_employee {
    padding: 12px 24px;
    border: 1px solid #BDB76B;
    margin: 10px 0;
    width: 250px;

}

 .error_input {
    color: red;
    font-size: 12px;
    margin: 0;
}

.success_input {
    color: #198754;
    font-size: 12px;
    margin: 0;
}


.container button {
    padding: 12px 24px;
    color: white;
    font-weight: bold;
    border: 3px solid rgb(90,111,7);
    border-radius: 12px;
    margin: 12px 0;
    background-color: rgb(147,173,24);
    cursor: pointer;
}

label{
    display: block;
}
.lab{
    display: flex;
    margin: 5px;
    justify-content: flex-start;
}

.add{
    width: 80%;
border: solid 4px rgb(147,173,24);
margin-top: 12px;

}
.ad{
    position: relative;
    top: -12px;
    background-color: white;
    padding: 5px;
}
.lab_ad{
    display: flex;
    justify-content: flex-start;
    margin-left: 85px;
}
zip-code{
    margin-bottom: 8px;

}

@media only screen and (max-width: 600px) {
    .container{
    box-shadow: none;
    }
    .input_employee,
    .lab_ad {
      width: 80%;
      margin-bottom: 10px;
    }
    .ad{
border-radius: 50%;
    }
    .homepage_container h2{
        color: #000;
    }
    .container button{
        color: #000;
    }
  
}

  @media only screen and (max-width: 768px){
    .container{
        box-shadow: none;
        margin-right: 10%;
    }
    .input_employee,
    .lab_ad {
      width: 80%;
      margin-bottom: 10px;
    }
}