.App {
    position: relative;
}
@media only screen and (max-width: 600px) {
.App{
    position: absolute;
    background-color: rgb(147,173,24,0.4);
}  
}

@media only screen and (max-width: 768px) {
}